<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vetas.test">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".views.auth.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoToolbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".views.numbers.NumbersActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".views.numbers.detail.LastNumberActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <service
            android:name=".common.services.NumberService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>